# fakeappops
type fakeappops, domain;
type fakeappops_exec, exec_type, file_type;

init_daemon_domain(fakeappops)

binder_use(fakeappops)

# audit2allow
allow fakeappops system_server_service:service_manager add;

# other domains that interact with fakeappops domain
allow mediaserver fakeappops:binder { transfer call };
