service fakeperm /system/bin/fakeperm
    class main
    user root

service b2g /system/bin/b2g.sh
    class main
    onrestart restart media

service rilproxy /system/bin/rilproxy
    class main
    socket rilproxy stream 660 root system
    user root
    group radio

on boot
    exec /system/bin/rm -r /data/local/tmp
    # set RLIMIT_NOFILE to increase soft limit from 1024(default) to 2048.
    # Hard limit keeps default value(4096).
    setrlimit 7 2048 4096
